<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link navbartext" href="/listing">HOME </a>
      <a class="nav-item nav-link navbartext" href="/listing">Explore</a>
     
     
    </div>
     <div class="navbar-nav ms-auto">
       <a class="nav-item nav-link navbartext" href="/listing/new">Airbnb your home</a>
     <%  if(!currentUser){%>
      <b><a class="nav-item nav-link navbartext" href="/navbarsignup">Sign up</a></b>
     <b> <a class="nav-item nav-link navbartext" href="/navbarlogin">Log in</a></b>
      <% } %>
      <% if(currentUser) {%>
      <a class="nav-item nav-link navbartext" href="/logout">Log out</a>
     <% } %>
    </div>

  </div>


</nav>
 