<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">HOME </a>
      <a class="nav-item nav-link" href="/listing">ALL Listings</a>
      <a class="nav-item nav-link" href="/listing/new">New Listing</a>
     
    </div>
  </div>
</nav>