.navbar{
    height: 5rem;
    background-color: white;
    border-bottom: black;

}
.fa-compass{
color: red;
font-size: 2rem;
}
.nav-link{
    color: black;

}
.f-info-links a{
    text-decoration: none;
    color: black;

}

.f-info-links a:hover{
    text-decoration: underline;
   
   
}
.f-info-links{
    width: 100%;


}
.f-info-socials i{
    margin-right: 1.5rem ;
}
.f-info-socials{
    width: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;

}
.f-info{
    text-align: center;
    height: 8rem;
     background-color: whitesmoke;  
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
 align-items: space-evenly;


}