body{
     font-family: "Plus Jakarta Sans", sans-serif !important;
   
    margin-left: 1.2rem !important;
    margin-right: 1rem !important;
    width: calc(100% - 2rem) !important;
    padding: 0 !important;
}

     
   

.navbar{
    height: 5rem;
    background-color: white;
    border-bottom: black;
    width:100% !important;
    

}
footer {
    position: static !important;
}

.fa-compass{
color: red;
font-size: 2rem;
}
.nav-link{
    color: black;

}
.f-info-links a{
    text-decoration: none;
    color: black;

}

.f-info-links a:hover{
    text-decoration: underline;
   
   
}
.f-info-links{
    width: 100%;


}
.f-info-socials i{
    margin-right: 1.5rem ;
}
.f-info-socials{
    width: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;

}
.f-info{
    text-align: center;
    height: 8rem;
     background-color: whitesmoke;  
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
 align-items: space-evenly;


}


.card{
   
    margin-bottom: 2rem;
    
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    
}
.card-body{
    padding: 0% !important;
}
.card-body.card-text{
    font-weight: 400!important;
}
.listing-link{
    text-decoration: none !important;
   border: none !important;
  outline: none !important;
  color: black;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.5 !important;
   background-color: whitesmoke;


}
.form-control{
    margin-bottom: 0% !important;
    margin-right: 20% !important;
        width:40% !important;
        margin-left: 20% !important;
          height: auto !important;
          
}
.form-label{
    margin-top:  1rem!important;
    margin-bottom: 0% !important;
    font-weight: 500 !important;
    font-size: 20;
     width:40% !important;
    margin-left: 20% !important;
    height: auto !important;
   
    
}
.add-btn{
   background-color:red !important ; 
   width: 20% !important;
   margin-left: 20% !important;
   margin-top: 3rem;
}
.add-btn:hover{
    background-color: brown !important;
}

.edit-btn{
    background-color: red !important;
     width: 10% !important;
   margin-left: 20% !important;

}
.show-image{
    height: 50vh !important;
    object-fit: cover !important;
    width: 50% !important;
}
.heading{
    font-style: oblique;
}


.edit-heading{
    margin-left: 20%;
    font-size: 40;
}
.btns{
    display: flex !important;
}

 .delete-btn {
   
    margin-left: 10px !important;
    

}
.edit-btn{
     margin-left: 300px !important;
   
     width: auto !important;
}
.invalid-feedback,.valid-feedback {
    margin-top: 2px !important;      /* very small gap */
    margin-bottom: 0px!important;
    margin-left: 20% !important;

}
.navbartext{
    font-weight: 5500 !important;
}
.review{
    display: flexbox !important;
  
   
}


.form-range{
    width: auto !important;
    padding-left: 0 !important;
}
.listing-card{
  border: none !important;
}
#map { position: absolute; top: 0; bottom: 0; width: 100%; }