<% layout("/layouts/boilerplate") %>
<body>
<form method="POST" action="/listings">
<input name="listing[title]" placeholder="enter your title" type="text"/>
<br/><br/><br/>
<textarea name="listing[description]" placeholder="enter your description" type="text"></textarea>
<br/><br/><br/>
<input name="listing[image]" placeholder="enter image" type="text"/>
<br/><br/><br/>
<input name="listing[price]" placeholder="enter price" type="number"/>
<br/><br/><br/>
<input name="listing[location]" placeholder="enter location" type="text"/>
<br/><br/><br/>
<button>ADD</button>

</form>


</body>
