<% layout("/layouts/boilerplate") %>
<body>
<form method="POST" action="/listings">
    <div >
<div class="row">
    <div class="mb-3">
<label for="title" class="form-label">Title</label>
<input name="listing[title]" placeholder="Enter your title" type="text" class="form-control"/>
</div>
<div>
<label for="description" class="form-label">Description</label>
<textarea name="listing[description]" placeholder="Enter your description" type="text" class="form-control" ></textarea>
</div>
<div>
<label for="image" class="form-label">Image</label>
<input name="listing[image]" placeholder="Enter image url" type="text" class="form-control"/>
</div>
<div>
<label for="price" class="form-label">Price</label>
<input name="listing[price]" placeholder="Enter price" type="number" class="form-control"/>
</div>
<div>
<label for="country" class="form-label">country</label>
<input name="listing[country]" placeholder="Enter location" type="text" class="form-control"/>
</div>
<div>
<label for="location" class="form-label">Location</label>
<input name="listing[location]" placeholder="Enter location" type="text" class="form-control"/>
</div>

<button class="btn btn-dark add-btn">ADD</button> 
</div>
</div>
</form>


</body>
